<html>
  <head>
    <meta charset="utf-8" />
    <title> </title>  
    <link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="screen" title="no title" charset="utf-8" >
    </link>
    
    <script src="/assets/jquery.js" type="text/javascript" language="javascript" charset="utf-8"> </script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js" type="text/javascript" language="javascript" charset="utf-8" > </script>
    <style type="text/css">
      body {
       border : 1px solid red; 
      }
      
       div.logo {
         border : 1px solid black;
         text-align: center;
       }
       
       div.qrcode {
         border : 1px solid black;
         text-align: center;
       }
       
       div.footer {
         border : 1px solid black;
         text-align: center;
       }
    </style>
    <script type="text/javascript">
      $(function() {
		    $("*").draggable();
	    });
    </script>
  </head>
  <body>
   <div id="draggable" class="logo ui-widget-content" style="width:300px;height:300px;margin:0px;">
       {{ LOGO }}
   </div>
   <div class="qrcode" style="width:300px;height:300px;margin:0px;">
        {{ QRCODE }}
   </div>
   <div class="footer" style="height:100px;margin:0px;">
        {{ FOOTER }}
   </div>
   <form action=""
  </body>
</html>
