<% if @achieved %>
  $('.alert').addClass('alert-success').removeClass('alert-info').removeClass('alert-error').html('Successfully Applied Template to the asset')
    window.setTimeout(function() {
      window.location.reload();
    },3000)
<%else%>
   $('.alert').addClass('alert-error').removeClass('alert-info').removeClass('alert-success').html('There is already a template associated with the Template Kinldy remove it and then re-apply')
<%end%> 
