<%= raw (Mustache.render @sticker.sticker_template.body,:LOGO => logo_tag,:QRCODE => qrimage,:NOTES => @product.notes,:UNIT => @product.unit, :SERIAL_NUMBER => @product.serial_number) %>


<style type='text/css'>
  div.template {
     border : 1px solid #ddd;
  }
</style>

