<%= content_for :head do %>
  <%= stylesheet_link_tag "users", :media => "screen" %>
<%end%>
<div id="userFormContainer" class="container">
    <% if @user.new_record? %>
        <h2>Create User</h2>
    <%else%>
        <h2>Update User</h2>
    <%end%>
    <div class="formContainer">
       <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
            <div class="msgContainer error">
              <strong><%= pluralize(@user.errors.count, "Error") %> Occurred</strong>
               <ol class="errorList">
                    <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
               </ol><!--errorList-->
            </div><!--msgContainer-->
        <% end %>
        <fieldset>
            <ul class="formElements">
                <li>
                    <label class="mandatory">First Name</label>
                    <%= f.text_field :first_name ,:placeholder => "FirstName" %>
                </li>
                <li>
                  <label>Last Name</label>
                  <%= f.text_field :last_name,:placeholder => "LastName" %>
                </li>
                <li>
                  <label class="mandatory">Email Address</label>
                  <%= f.text_field :email,:placeholder => "Email Address" %>
                </li>
                <li>
                  <label class="mandatory">Password</label>
                  <%= f.password_field :password,:placeholder => "Password" %>
                </li>
                <li>
                  <label class="mandatory">Password Confirmation</label>
                  <%= f.password_field :password_confirmation,:placeholder => "Password Confirmation" %>
                </li>
                <li class="clearfix">
                    <% if current_user.admin? %>
                      <label for="user_admin">Admin</label>
                     <%= f.check_box :admin ,:class => "check_btn"%>
                     <%end%>
                </li>
                <li>
                    <% if @user.new_record? %>
                      <%= f.submit "Create User" %>
                    <%else%>
                      <%= f.submit "Update User" %>
                    <%end%>
                </li>
            </ul><!--formElements-->
        </fieldset>
    </div><!--formContainer-->
    <%end%>
</div><!--container-->