<%= content_for :head do %>
  <%= stylesheet_link_tag "users", :media => "screen" %>
<%end%>
<%= link_to raw('<span>Add New User</span>'),new_user_path ,:class => "button add" %>
<div id="addUserTbl" class="container">
    <h2>User</h2>
    <table class="tabular">
        <colgroup>
            <col class="colUserName"
            <col class="colUserName">
            <col class="colEdit">
            <col class="colDelete">
        </colgroup>
        <thead>
            <tr>
                <th>User Name</th>
                <th>User Type</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td>
                    <% if user.admin? %><span style="color: red;">Admin</span><%else%>Member<%end%>
                </td>
                <td><%= link_to raw(image_tag('edit.png')),edit_user_path(user) ,:class => "edit_link" %></td>
                <td><%= link_to raw(image_tag('delete_img.png')),user,method:'delete',confirm:'Are you sure you want to delete this user'%></td>
            </tr>
            <%end%>
        </tbody>
    </table>
</div><!--container-->