<div id="resetContainer" class="container">
    <h2>Reset Password</h2>
    <div class="formContainer">
        <fieldset>
            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
            <% if resource.errors.any? %>
                <div class="emailError error"><%= resource.errors.full_messages.first %></div>
            <%end%>
            <ul class="formElements">
                <li><%= f.email_field :email ,:placeholder => "Email Address"%></li>
                <li class="clearfix">
                    <%= f.submit "Reset Password" %>
                    <%= render "links" %>
                </li>
            </ul><!--formElements-->
            <%end%>
        </fieldset>
    </div><!--formContainer-->
</div><!--container-->