<div class="homeWrapper">
  <%= image_tag('welcome.png',:alt => "Design & create QR stickers for your products") %>
  <%= link_to image_tag('get_started_bt.png'),assets_path, :title => 'Get Started' %>
</div>