<div class="home_sec">
  <div class="text">Thank You! <%= flash[:message] %> </div>
    <label class="center_span">Go back to Home</label>
    <div class="wrp_btn">
      <div class="d_button"> 
       <%= link_to raw(tag(:img,:src => image_path('home.png'),:alt => "img_home",:style => "vertical-align:middle")),home_path ,:style => "width:86px"%>
      </div>
    </div>
  </div>
</div>