<%= content_for :head do %>
  <%= stylesheet_link_tag "template", :media => "screen" %>
<%end%>
    <div id="templateFormContainer" class="container">
        <h2>Your Template Option</h2>
          <div class="formContainer">
            <fieldset>
               <%= form_for(@sticker_template) do |f| %>
                <% if @sticker_template.errors.any? %>
                    <div class="msgContainer error">
                      <strong><%= pluralize(@sticker_template.errors.count, "Error") %> Occurred</strong>
                       <ol class="errorList">
                            <% @sticker_template.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                            <% end %>
                       </ol><!--errorList-->
                    </div><!--msgContainer-->
                <% end %>
              <ul class="formElements">
                <li>
                <div class="ovfl-hidden box">
                  <label class="tmplateLbl1">Template name<span>*</span></label>
                <%= f.text_field :name ,:placeholder =>  "Template Name",:class => "txtBox" %>
                </div>
                <div class="ovfl-hidden box">
                  <label class="lblMeasurment">Width</label>
                  <%= f.text_field :width ,:placeholder => "Width",:class => "txtBox smalltxtbox" %>
                  <!-- <div class="csm1 fl"></div> -->
                    <label class="lblMeasurment">Height</label>
                    <%= f.text_field :height ,:placeholder => "Height",:class => "txtBox smalltxtbox" %>
                  <!-- <div class="csm1 fl"></div> -->
                </div>
                <div class="ovfl-hidden box" >
                  <label class="tmplateLbl1 fl">Logo</span></label>
                  <label class="fr rightCheckBox"><span id="logoo">Yes</span>
                    <%= f.check_box :logo ,:class => "checkBox" ,:id=> "logoo" %>

                  </label>
                </div>
                <div class="DisplayNone logoo">
                  <div class="ovfl-hidden box">  
                      <div class="ovfl-hidden"> </div>
                        <div class="DisplayNone">
                          <%= f.file_field :logo_image %>
                          <%= f.hidden_field :logo_image_cache %>
                          <p class="paraFile">(jpg, gif, png)</p>
                      </div>
                  </div>
                  <div class="ovfl-hidden box">
                      <label class="lblMeasurment">Width</label>
                      <%= f.text_field :logo_width ,:placeholder => "Logo Width" ,class: "txtBox smalltxtbox"%>
                    <!-- <div class="csm1 fl">px</div> -->
                      <label class="lblMeasurment">Width</label>
                       <%= f.text_field :logo_height ,:placeholder => "Logo Width" ,class: "txtBox smalltxtbox"%>
                    <!-- <div class="csm1 fl">px</div> -->
                  </div>
                </div>
                <div class="ovfl-hidden box marginNone">
                  <label class="tmplateLbl1">QR Code</label>
                </div>
                <div class="ovfl-hidden box">
                    <label class="lblMeasurment">Width</label>
                    <%= f.text_field :qrcode_width,:placeholder => "Qrcode Width" ,class: "txtBox smalltxtbox" %>
                    <label class="lblMeasurment">Height</label>
                    <%= f.text_field :qrcode_height,:placeholder => "Qrcode Height" ,class: "txtBox smalltxtbox" %>
                </div>
                <div class="ovfl-hidden box"> </div>
                <div class="ovfl-hidden box">
                  <label class="tmplateLbl1 fl">Footer</label>
                  <label class="fr rightCheckBox"><span id="footur">Yes</span>
                  <%= f.check_box :footer ,:class=>"checkBox" ,:id => "footur" %>
                  </label>
                </div>
                <div class="ovfl-hidden box DisplayNone footur">
                  <div class="ovfl-hidden">
                    <ul class="checkBoxlist">
                      <li>
                        <label>
                          <%= f.check_box :notes ,:class=>"lblCheckBox" ,:id=>"notes" %>
                          <span class="span1"><span style="color:black">Notes</span> (First 25 characters will be displayed)</span></label>
                      </li>
                      <li class="DisplayNoneLi">
                        <div class="ovfl-hidden notes">
                          <label class="tmplateLbl1">Font</label>
                          <div class="fl spaceRight">
                            <%= f.text_field :note_font,:class => "fontSize" %>
                          </div>
                          <div class="styled-select2 fl">
                           <%= f.select :note_font_style,options_for_select(StickerTemplate::FontStyle,@sticker_template.note_font_style),{},:class => "Big" %>
                          </div>
                         <div class="fl ovfl-hidden note_position">
                            <a class="textAlight fl left" href="#" data-position="left" data-id="note_position">
                                <img alt="imgleft" src="/assets/left.png">
                             </a>
                             <a class="fl textAlight center" href="#" data-position="center" data-id="note_position">
                                <img alt="centerImg" src="/assets/center.png">
                              </a>
                              <a class="fl textAlight right" href="#" data-position="right" data-id="note_position">
                                <img alt="rightImg" src="/assets/right.png">
                              </a>
                              <%= f.hidden_field :note_position ,:id => "note_position" %>
                         </div>
                        </div>
                      </li>
                      <li>
                        <label>
                           <%= f.check_box :unit ,:class=>"lblCheckBox" ,:id=>"unit" %>
                          
                          <span class="span1"><span style="color:black">Unit</span> (First 25 characters will be displayed)</span></label>
                      </li>
                      <li class="DisplayNoneLi">
                        <div class="ovfl-hidden unit">
                          <label class="tmplateLbl1">Font</label>
                          <div class="fl spaceRight">
                            <%= f.text_field :unit_font,:class => "fontSize" %>
                          </div>
                          <div class="styled-select2 fl">
                             <%= f.select :unit_font_style,options_for_select(StickerTemplate::FontStyle,@sticker_template.unit_font_style),{},:class => "Big" %>
                            
                          </div>
                          <div class="fl ovfl-hidden unit_position">
                            <a class="textAlight fl left" href="#" data-position="left" data-id="unit_position">
                              <img alt="imgleft" src="/assets/left.png">
                             </a>
                            <a class="fl textAlight center" href="#" data-position="center" data-id="unit_position">
                             <img alt="centerImg" src="/assets/center.png">
                            </a>
                            <a class="fl textAlight right" href="#" data-position="right" data-id="unit_position">
                              <img alt="rightImg" src="/assets/right.png" >
                            </a>
                            <%= f.hidden_field :unit_position ,:id => 
"unit_position" %>
                          </div>
                        </div>
                      </li>

                      <li>
                        <label>
                           <%= f.check_box :serial_number ,:class=>"lblCheckBox" ,:id=>"serial_number" %>
                          
                          <span class="span1"><span style="color:black">Serial Number</span> (First 25 characters will be displayed)</span></label>
                      </li>
                      <li class="DisplayNoneLi">
                        <div class="ovfl-hidden serial_number">
                          <label class="tmplateLbl1">Font</label>
                          <div class="fl spaceRight">
                            <%= f.text_field :serial_number_font,:class => "fontSize" %>
                          </div>
                          <div class="styled-select2 fl">
                             <%= f.select :serial_number_style,options_for_select(StickerTemplate::FontStyle,@sticker_template.serial_number_style),{},:class => "Big" %>
                            
                          </div>
                          <div class="fl ovfl-hidden serial_number_position">
                            <a class="textAlight fl left" href="#" data-position="left" data-id="serial_number_position">
                              <img alt="imgleft" src="/assets/left.png">
                             </a>
                            <a class="fl textAlight center" href="#" data-position="center" data-id="serial_number_position">
                             <img alt="centerImg" src="/assets/center.png">
                            </a>
                            <a class="fl textAlight right" href="#" data-position="right" data-id="serial_number_position">
                              <img alt="rightImg" src="/assets/right.png" >
                            </a>
                            <%= f.hidden_field :serial_number_position ,:id => 
"serial_number_position" %>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              <% if @sticker_template.new_record? %>
                  <%= f.submit "Create Template",:class => "button" %>
                <%else%>
                  <%= f.submit "Update Template",:class => "button" %>
                <%end%>
            </li>
          </ul><!--formelements-->
          <%end%>
          </fieldset>
        </div><!--formContainer-->
    </div>
<%= javascript_tag do %>
  $(document).ready(function() {
      $("input[type=checkbox]").bind('click',function() {
         var klass = this.id;
         if ($(this).is(':checked')) { 
           $("div."+klass).show();
           $("span#"+klass).html("Yes");
         }
         else {
         $("div."+klass).find("input[type=checkbox]").removeAttr("checked")
         $("div."+klass).hide();
         $("span#"+klass).html("No");
        }
     })
     $("input[type=checkbox]").not(':checked').each(function(index,element) {
        var klass = element.id;
        $("div."+klass).hide();
        $("span#"+klass).html("No");
     })
    
    $("a.left,a.center,a.right").bind('click',function() {
       var position = $(this).data("position");
       var id = $(this).data("id");
       $('div.'+id).find("a.active").removeClass("active");
       $(this).addClass("active");
       $("input#"+id).val(position); 
       return false;
    })  
    
    $('input#note_position,input#unit_position').each(function(index,element) {
       var value = $(element).val();
       if (typeof(value) == "undefined" || value == "") {
         value = "left" ; 
         $(this).val("left");
       }
       $("div."+element.id).find("a."+value).addClass("active");   
    })

    $('<span>PX</span>').insertAfter('.formElements input[placeholder="Width"], .formElements input[placeholder="Height"], .formElements input[placeholder="Logo Width"], .formElements input[placeholder="Logo Height"], .formElements input[placeholder="Qrcode Width"], .formElements input[placeholder="Qrcode Height"]');
  })
<%end%>