<%= content_for :head do %>
  <%= stylesheet_link_tag "template", :media => "screen" %>
<%end%>

<%= link_to raw('<span>Create Template</span>') ,new_sticker_template_path, :class => 'button add' %>

    <ul class="templateList">
        <% @sticker_templates.each do |sticker_template| %>
        <li>
            <a href="#" data-url="<%= sample_template_sticker_template_path(sticker_template, :view_only => 1) %>" data-width="<%= sticker_template.width.to_i+20 %>" data-height="<%= sticker_template.height.to_i+20 %>">
                <%= sticker_template.name %>
                <span>Click me</span>
            </a>
            <% unless sticker_template.default_template %>
            <div class="templateActions clearfix">
                <%= link_to raw('Edit Template'),edit_sticker_template_path(sticker_template),:class => "edit"%>
                <%= link_to raw('Delete Template'),sticker_template,method: 'delete',confirm: 'Do you want to delete this template' ,class: "delete" %>
            </div><!--templateActions-->
            <%end%>
        </li>
        <%end%>
    </ul><!--templateList-->
       
<%= javascript_tag do %>
  $(document).ready(function() {
    $('.templateList > li > a').bind('click',function() {
      var iwidth=$(this).data('width');
      var iheight=$(this).data('height');
      var url=$(this).data('url');
      $.modal('<iframe src="' + url + '" height="'+iheight+'" width="'+iwidth+'" style="border:0" scrolling="no">', { overlayClose:true,
      overlayCss: {backgroundColor: '#333'},
      containerCss: {backgroundColor: '#fff', border: '2px solid #000;'}
    })
   }); 
 })
<%end%>