
<% if @sticker_template.body.nil? %>
<div class="template" id="container" style="width:<%= @sticker_template.width %>px;height:<%= @sticker_template.height %>px;">
  <% if @sticker_template.logo? %>
    <div id="logo" class="logo ui-widget-content" style="width:<%= @sticker_template.logo_width%>px;height:<%= @sticker_template.logo_height %>px;margin:0px;position:relative;">
       {{{ LOGO }}}
    </div>
 <%end%>

    <div class="qrcode" id="qrcode" style="width:<%=@sticker_template.qrcode_width %>px;height:<%= @sticker_template.qrcode_height%>px;margin:0px;position:relative;">
       {{{ QRCODE }}}
    </div>
 
  <% if @sticker_template.footer? %>
    <% if @sticker_template.notes? %>
        <div class="notes" id="notes" style="width:<%= @sticker_template.note_width %>px;height:<%= @sticker_template.note_height %>px;font-style:<%= @sticker_template.note_font_style %>;font-size:<%= @sticker_template.note_font %>px;text-align:<%= @sticker_template.note_position %>;margin:0px;position:relative;">
          {{{ NOTES }}}
        </div>
     <%end%>
    <% if @sticker_template.unit? %>
        <div class="unit" id="unit" style="width:<%= @sticker_template.unit_width %>px;height:<%= @sticker_template.unit_height %>px;font-style:<%= @sticker_template.unit_font_style %>;font-size:<%= @sticker_template.unit_font %>px;text-align:<%= @sticker_template.unit_position %>;margin:0px;position:relative;">
          {{{ UNIT }}}
        </div>
     <%end%> 
    <% if @sticker_template.serial_number? %>
        <div class="serial_number" id="serial_number" style="width:<%= @sticker_template.serial_number_width %>px;height:<%= @sticker_template.serial_number_height %>px;font-style:<%= @sticker_template.serial_number_style %>;font-size:<%= @sticker_template.serial_number_font %>px;text-align:<%= @sticker_template.serial_number_position %>;margin:0px;position:relative;">
          {{{ SERIAL_NUMBER }}}
        </div>
     <%end%> 
  <%end%>
 </div> 
<%else%>
  <%= raw @sticker_template.body %>
<%end%>

<%= form_tag update_copy_sticker_template_path(@sticker_template),:remote => true,:method => :put ,:class => "sticker" ,"data-type" => "html" do %>
  <%= hidden_field_tag 'sticker_template[width]',@sticker_template.width,:id => "template_width" %>
  <%= hidden_field_tag :height,@sticker_template.height,:name => 'sticker_template[height]' ,:id => "template_height" %>
  <%= hidden_field_tag 'sticker_template[logo_width]',@sticker_template.logo_width,:id => "logo_width" %>
  <%= hidden_field_tag 'sticker_template[logo_height]',@sticker_template.logo_height ,:id => "logo_height" %>
  <%= hidden_field_tag 'sticker_template[qrcode_width]',@sticker_template.qrcode_width,:id => "qrcode_width" %>
  <%= hidden_field_tag 'sticker_template[qrcode_height]',@sticker_template.qrcode_height,:id => "qrcode_height" %>
  <%= hidden_field_tag 'sticker_template[note_width]',@sticker_template.note_width, :id => "notes_width" %>
  <%= hidden_field_tag 'sticker_template[note_height]',@sticker_template.note_height, :id => "notes_height" %>
  <%= hidden_field_tag 'sticker_template[unit_width]',@sticker_template.unit_width, :id => "unit_width" %>
  <%= hidden_field_tag 'sticker_template[unit_height]',@sticker_template.unit_height, :id => "unit_height" %>
  <%= hidden_field_tag 'sticker_template[unit_font]',@sticker_template.unit_font %>
  <%= hidden_field_tag 'sticker_template[serial_number_width]',@sticker_template.serial_number_width, :id => "serial_number_width" %>
  <%= hidden_field_tag 'sticker_template[serial_number_height]',@sticker_template.serial_number_height, :id => "serial_number_height" %>
  <%= hidden_field_tag 'sticker_template[serial_number_font]',@sticker_template.serial_number_font %>
  <%= hidden_field_tag 'sticker_template[note_font]',@sticker_template.note_font %>
  <%= hidden_field_tag :body ,nil,:class => "template_body",:name =>'sticker_template[body]' %>
  <%= submit_tag "sumbit",:style => "display:none",:class => "click_me" %>
<%end%>
