<a href="#" class="button upload save"><span>Save Template</span></a>
<a href="#" class="button upload refresh"><span>Refresh</span></a>

<div class="blankDiv" style="float:right">&nbsp;</div>
<div class="alert alert-notice" style="text-align:center; clear: both;">
 Drag, drop and re-size elements to design your sticker template
</div>


<div style="text-align:center">
  <iframe id="ifrme" src="<%= sample_template_sticker_template_path(@sticker_template) %>" width="<%= @sticker_template.width.to_i+200 %>px" height="<%= @sticker_template.height.to_i+200 %>px" > </iframe>
</div>

<%= javascript_tag do %>
  $(document).ready(function(event) {
    $('.save').bind('click',function() {
      if (typeof(window.called) != "undefined")
        event.preventDefault();
      window.called = true;   
      ajaxLoading = new ajaxLoader(document.body, { classOveride: 'blue-loader'} );
      window.parent.$("#ifrme")[0].contentWindow.send_request();
    })
    
    $('.refresh').bind('click',function() {
     window.location.reload(); 
      return false;
    }) 
     
  })
  function call_me(data) {
   $('.alert-notice').html('<strong>'+data+'</strong>')
   if (ajaxLoading) { ajaxLoading.remove(); }
    window.setTimeout(function() {
      window.document.location = '/sticker_templates'
     }, 1000);
  }
<%end%>
