<div id="loginContainer" class="container">
    <h2>Login</h2>
    <div class="formContainer">
        <fieldset>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <% if !flash[:alert].nil? %>
            <div class="error">
                <ol class="errorList">
                    <li><%= flash[:alert] %></li>
                </ol>
            </div>
            <%end%>
            <ul class="formElements">
                <li>
                    <label>Email</label>
                    <%= f.email_field :email ,:placeholder=> "Email Address" %>
                </li>
                <li>
                    <label>Password</label>
                    <%= f.password_field :password ,:placeholder => "Password" %>
                </li>
                <li class="clearfix">
                    <%= f.submit "Login" %>
                    <% if devise_mapping.rememberable? -%>
                        <%= render "links" %> 
                    <% end -%>
                </li>
            </ul><!--formElements-->
            <%end%>
        </fieldset>
    </div><!--formContainer-->
</div><!--container-->