<%= content_for :head do %>
	<%= stylesheet_link_tag "assets", :media => "screen" %>
<%end%>
<br/>
<div class="wrp_exportBtn" style="padding-left:30px">
    <div class="export fl">
      <a style="width:84px" href="<%= asset_path(@asset)%>" >
        <span class="left_arrow fl" style="padding-left:6px; width:21px;">&nbsp;</span>
          <span class="fl"> 
          <div class="clr" style="text-align:center">&nbsp;</div>
            Back
          </span> 
       </a>
    </div>
</div>    
