  <div class='bg_container'>
  <table class="tabular">
      <thead>
          <tr>
              <th>File Name</th>
              <th>Uploaded On</th>
              <th>Error</th>
              <th>Re-upload</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          <% @assets.each do |asset| %>
          <tr class='wrp_list1'>
              <td><a href="<%= asset.asset %>" class="link_f"><%= asset.name %> </a></td>
              <td><%= asset.updated_at %></td>
              <td><%= link_to 'ERROR' , validation_error_asset_path(asset),:remote => true ,"data-type" => "html" ,:class => "validation_errors" %></td>
              <td class="reUpload"><%= link_to raw('Re-upload an asset') ,edit_asset_path(asset) %></td>
              <td><%= link_to raw(image_tag('delete_img.png')),asset,method: 'delete',confirm: 'Are you Sure to want to delete this file' %></td>
          </tr>
          <%end%>
      </tbody>
  </table>
</div>

<%= javascript_tag do %>

  $(document).ready(function() {
     $('tr.wrp_list1').delegate('a.validation_errors','ajax:beforeSend',function(evt, xhr, settings){ 
     		ajaxLoading = new ajaxLoader(document.body, { classOveride: 'blue-loader'} );
     })
     
     $("tr.wrp_list1").delegate("a.validation_errors","ajax:success", function(evt, data, status, xhr) { 
      if (ajaxLoading) { ajaxLoading.remove(); }
       $("div.bg_container").replaceWith(data);
     })       
  })

<%end%>
