<%= content_for :head do %>
  <%= stylesheet_link_tag "assets", :media => "screen" %>
<%end%>
<div id="assetFormContainer" class="container">
    <% if @asset.new_record? %>
        <h2>Upload Asset File</h2>
    <%else%>
        <h2>Re-Upload Asset File</h2>
    <%end%>
    <div class="formContainer">
       <%= form_for @asset do |f| %>
         <% unless @asset.errors.empty? %>
            <div class="msgContainer error">
              <strong>Error Uploading File</strong>
                <%= content_tag(:ol, raw(content_error(:li,@asset.errors)),:class => 'errorList') %>
            </div>
        <% end %>
        <fieldset>
            <ul class="formElements">
                <li><%= f.text_field :name ,:id => "file_name",:placeholder => "File Name" %></li>
                <li>
                    <%= f.file_field :asset %>
                    <%= f.hidden_field :asset_cache %>
                </li>
                <li><div class="instruction"><strong>Note: </strong>Please upload .csv file</div></li>
                <li class="clearfix">
                    <%= link_to 'Back' ,:back, :class => 'button' %>
                    <%= f.submit "Upload"%>
                </li>
            </ul><!--formElements-->
        </fieldset>
        <% if @asset.new_record? %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              $('input[type=file]').bind('change',function() {
                $('#file_name').val($(this).val().split(/(\\|\/)/g).pop());
            })
            })
            <%end%>
          <%end%>
        <%end%>
    </div><!--formContainer-->
</div><!--container-->