<%= content_for :head do %>
	<style type="text/css">
  		.template.ui-resizable { position: relative;}
	 </style>
<%end%>


<% @product.each do |product| %>
<div <% if @page_break.present? %>class="pb_after" <%end%> >
  <div class="sticker">
  <%= raw (Mustache.render @sticker.sticker_template.body,:LOGO => logo_tag,:QRCODE => qrimage(product.qrcode_url),:NOTES => product.notes,:UNIT => product.unit, :SERIAL_NUMBER => product.serial_number) %>
 	</div>
 </div>
<%end%>