<%= content_for :head do %>
  <%= stylesheet_link_tag "assets", :media => "screen" %>
<%end%>
<div class="bg1_1 bg_container">
  <div class="bg2_2">
    <div class="bg3_3">
      <div class="ovfl-hidden wrp_wrp_pblsh ">
        <div class="rigth_fnm fl ">
          <div class="wrp_1 ovfl-hidden">
            <div class="details">
              <ul class="error_details">
                <li>
                 <label class="fl error_lbl4  ">File Name:</label>
                 <label class="fl  frist "><a href="<%= @asset.asset %>" class="link_f">
                 <%= @asset.name %> </a></label>
                </li>
                <li>
                  <label class="fl error_lbl4  ">File Type:</label>
                  <label class="fl error_msg_l  ">CSV</label>
                </li>
                <li>
                  <label class="fl error_lbl4">Uploaded On:</label>
                  <label class="fl error_msg_l"><%= @asset.created_at.to_date %></label>
                </li>
                <li>
                  <label class="fl error_lb14 ">Statement: </label>
                  <label class="fl error_msg_l" style="color:#f10000"><%= @asset.error_encountered %></label>
                </li>
              </ul>
            </div>
            <div class="desc_file_2">
               <% @validation_errors.each do |errr| %>
                <div class="wrp_list">
                  <ul class="listing_file">
                    <%= raw display_error(errr) %>         
                   </ul>
                </div>
               <%end%>
            </div>
          </div>
        </div>
        <div class="fr" style="padding:10px 0 0 0">
          <div class="d_button fl">
            <%= link_to 'Back',failed_asset_assets_path,:remote => true,:style => "width:78px","data-type" => "html",:class => "back_link" %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>  
<%= javascript_tag do %>
    $('a.back_link').bind('ajax:beforeSend',function(evt, xhr, settings){ 
     		ajaxLoading = new ajaxLoader(document.body, { classOveride: 'blue-loader'});
    });
    
    $("a.back_link").bind("ajax:success", function(evt, data, status, xhr){ 
      if (ajaxLoading) { ajaxLoading.remove(); }
      $("div.bg_container").replaceWith(data);
    });    
     
<%end%>    
