<%= content_for :head do %>
	 <link href="<%= absolute_asset_path('/assets/print.css')%>" media="print" rel="stylesheet" type="text/css" />
    
	<style>
		.template.ui-resizable { position: relative;}
	</style>
<%end%>

<%= render 'sticker' %>

