<%= content_for :head do %>
    <%= stylesheet_link_tag "assets", :media => "screen" %>
<%end%>
<ul class="tabs">
    <li><%= link_to 'Successful Uploads',assets_path  %></li>
    <li class="active"><%= link_to 'Failed Uploads', failed_asset_assets_path %></li>
</ul><!--tabs-->
<% flag = true %>
<div class="assetsContainer">
<% if flash[:notice].blank? %>
  <div class="alert" style='display: none;'>
    <span></span>
  </div>
<%else%>
  <div class="alert <%= flash[:klass] %>" >
    <span><%= flash[:notice] %></span>
  </div>
<%end%>
<%= link_to raw('<span>Upload Asset</span>'),new_asset_path,:class => "button upload" =%>
<div id="uploadsContainer" class="container">
    <h2>Failed Uploads</h2>
    <%= render 'failed_asset' %>
</div><!--container-->
</div><!--assetsContainer-->

<%= javascript_tag do %>
  $(document).ready(function() {
      $(".selectDropbox").bind('change',function() {
          var url = $(this).data('url');
          var template_id = $(this).val();
          
          var loader ;
          if(template_id != "" && confirm('Are you sure you want to apply this template and remove old template')) {
            $.ajax({
              "context" : document.body,
              "url" : url,
              "type" : "GET",
              "data" : 'sticker_template_id='+template_id,
              "data-type" : "html",
              "beforeSend" : function(jqXHR, settings) {
                loader = new ajaxLoader(this,{classOveride: 'blue-loader',bgColor: '#000', opacity: '0.3'});
              }, 
              "success" : function(data, textStatus, jqXHR) {
                 $(".selectDropbox").data("id",template_id);
                 $('.alert').addClass('alert-success').removeClass('alert-error').html('<span>'+data+'</span>').show().fadeOut(5000);
              },
              "error" : function (jqXHR, textStatus, errorThrown) {
                 $('.alert').addClass('alert-error').removeClass('alert-success').html('<span>'+textStatus+'</span>').show().fadeOut(5000);
              },
              "complete" : function(jqXHR, textStatus) {
                loader.remove();
              } 
            })
            
          } 
        else {
            if(template_id=="") 
              alert("Please Select a Template");
            $(this).val($(this).data('id'));
          }    
      })
  })
  <% unless (current_user.assets.processing_qrcode.empty? && flag) %>
      window.setTimeout(function(){ window.location.reload();},10000);
  <%end%>  
<%end%>