<%= content_for :head do %>
    <%= stylesheet_link_tag "assets", :media => "screen" %>
<%end%>
<ul class="tabs">
    <li class="active"><%= link_to 'Successful Uploads',assets_path  %></li>
    <li><%= link_to 'Failed Uploads', failed_asset_assets_path %></li>
</ul><!--tabs-->
<% flag = true %>
<div class="assetsContainer">
<% if flash[:notice].blank? %>
  <div class="alert" style='display: none;'>
    <span></span>
  </div>
<%else%>
  <div class="alert <%= flash[:klass] %>" >
    <span><%= flash[:notice] %></span>
  </div>
<%end%>
<%= link_to raw('<span>Upload Asset</span>'),new_asset_path,:class => "button upload" =%>
<div id="uploadsContainer" class="container">
    <h2>Successful Uploads</h2>
    <table class="tabular">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Uploaded On</th>
                <th>Template Stickers</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% @assets.each do |asset| %>
            <tr>
                <td>
                    <!-- The Reson for setting '&' and not '&&' since  -->
                    <% if asset.processed? %>
                        <% flag = flag & true %>
                        <%= link_to asset.name, asset_path(asset) %>
                    <%else%>
                        <% flag = flag & false %>
                        <%= asset.name %>
                    <%end%>
                </td>
                <td><%= asset.updated_at.to_date %></td>
                  <% if asset.processed? %>
                    <td>
                      <%= select_tag("sticker_templates",options_from_collection_for_select(@sticker_templates,'id','name',:selected => selected_sticker_template(asset)),:prompt => "Choose Template" ,:class => "selectDropbox" ,"data-url" => remove_template_asset_path(asset),"data-id" => selected_sticker_template(asset)) %>
                  </td>
                  <td>
                        <%= link_to raw(image_tag('delete_img.png')),asset,method: 'delete',confirm: 'Are you sure to want to delete this file?' %>
                     
                  </td>
                <%else%>
                  <td>GENERATING QRCODE ....</td>
                  <td>&nbsp;</td>
                <%end%>
            </tr>
            <%end%>
        </tbody>
    </table>
</div><!--container-->
</div><!--assetsContainer-->

<%= javascript_tag do %>
  $(document).ready(function() {
      $(".selectDropbox").bind('change',function() {
          var url = $(this).data('url');
          var template_id = $(this).val();
          
          var loader ;
          if(template_id != "" && confirm('Are you sure you want to apply this template and remove old template')) {
            $.ajax({
              "context" : document.body,
              "url" : url,
              "type" : "GET",
              "data" : 'sticker_template_id='+template_id,
              "data-type" : "html",
              "beforeSend" : function(jqXHR, settings) {
                loader = new ajaxLoader(this,{classOveride: 'blue-loader',bgColor: '#000', opacity: '0.3'});
              }, 
              "success" : function(data, textStatus, jqXHR) {
                 $(".selectDropbox").data("id",template_id);
                 $('.alert').addClass('alert-success').removeClass('alert-error').html('<span>'+data+'</span>').show().fadeOut(5000);
              },
              "error" : function (jqXHR, textStatus, errorThrown) {
                 $('.alert').addClass('alert-error').removeClass('alert-success').html('<span>'+textStatus+'</span>').show().fadeOut(5000);
              },
              "complete" : function(jqXHR, textStatus) {
                loader.remove();
              } 
            })
            
          } 
        else {
            if(template_id=="") 
              alert("Please Select a Template");
            $(this).val($(this).data('id'));
          }    
      })
  })
  <% unless (current_user.assets.processing_qrcode.empty? && flag) %>
      window.setTimeout(function(){ window.location.reload();},10000);
  <%end%>  
<%end%>