<%= content_for :head do %>
  <%= stylesheet_link_tag "assets", :media => "screen" %>
<%end%>

<div id="printContainer" class="container">
    <h2>Select Print Option</h2>
    <div class="formContainer">
        <fieldset>
            <ul class="formElements">
                <li class="clearfix">
                    <input type="radio" name="options" data-url="<%= download_sticker_asset_path(@asset)%> ">
                    <label>Multiple Sticker per Page</label>
                </li>
                <li class="clearfix">
                    <input type="radio" name="options" data-url="<%= download_sticker_asset_path(@asset,:page_break => true)%>">
                    <label>One Sticker per Page</label>
                </li>
                <li class="clearfix">
                    <input type="radio" name="options" data-url="<%= download_sticker_asset_path(@asset,:printer => "A",:page_break => true)%>">
                    <label>PT-2340PC Printer</label>
                </li>
                <li class="clearfix">
                    <input type="radio" name="options" data-url="<%= download_sticker_asset_path(@asset,:printer => "B",:page_break => true)%>">
                    <label>QL-570 Printer</label>
                </li>
                <li class="clearfix">
                    <a class="button" href="#" id="download">Download</a>
                </li>
            </ul><!--formElements-->
        </fieldset>
    </div><!--formContainer-->
</div><!--container-->

<%= javascript_tag do %>
  $(document).ready(function(){
    function download_pdf(url) {
      window.location=url;
    }
    $("a#download").bind("click",function() {
        if (!$('input[type=radio]').is(':checked')) 
          alert("Please Select a options");
        else
          download_pdf($('input[type=radio]:checked').data("url"))  
         
       return false;   
    })
  })
<%end%>