<%= content_for :head do %>
  <%= stylesheet_link_tag "assets", :media => "screen" %>
<%end%>
<a href="<%= all_sticker_asset_path(@asset) %>" class="button upload"><span>View All Stickers</span></a>
<a href="<%= print_sticker_asset_path(@asset) %>" class="button upload"><span>Print Stickers</span></a>
  <% if @products.qr_code_generation_failed.count > 0 %>
    <div class="flash" style="text-align:center;font-size:15px;padding-bottom:15px;color:#D00;"> 
      Failed QRCode Generation will be regenerated after a 30 minutes from now 
    </div>
  <%end%>
<div class="container">
    <h2>Asset Details</h2>
    <table class="tabular">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Serial Number</th>
                <th>VIN</th>
                <th>Unit</th>
                <th>QRCODE</th>
                <th>Sticker Template</th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
            <tr>
                <td><%= product.make %></td>
                <td><%= product.model %></td>
                <td><%= product.serial_number %></td>
                <td><%= product.vin %></td>
                <td><%= product.unit %></td>
                <td class="qrCode">
                   <% if product.processed? %> 
                     <%= image_tag(GOOGLE_CHART_API % [150,150,CGI.escape(product.qrcode_url)]) %>
                   <%else%>
                     <span class="error" style="color:red" title="<%= product.error_message %>" >Failed</span>
                   <%end%>
                  </td>
                  <td>
                    <% if product.processed? %>
                      <%= link_to 'View Sticker',product_path(product,:sticker_id => @asset.stickers.first) ,:class => "link_f" %>
                    <%else%>
                      <%= link_to 'Regenerate QRCODE',regenerate_qrcode_product_path(product),:class => "link_f" %>    
                    <%end%>
                  </td>
                </tr>
             <%end%>
        </tbody>
    </table>
</div><!--container-->

<%= javascript_tag do %>
  $(document).ready(function() {
     $("span.error").qtip({
        style: {
					classes: 'ui-tooltip-shadow ui-tooltip-red' 
				}
			})
  })
<%end%>