/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require main
 *= require_self
 *= require jPicker-ui
 *= require jPicker
 *= require farbtastic
 *= require chosen
 *= require ajax_loader
 *= require jquery.qtip
*/


/*********** ERROR ***************/

div.alert-error {
  padding: 0px 50px 5px 90px;
  background-color:#f2e0e3;
  color:#b94a48;
  margin:0px
}

div.alert-notice {
  padding: 0px 50px 5px 90px;
  background-color:#d9edf7;
  color:#5aafde;
  margin:0px
}

div.alert-success {
  padding: 0px 50px 5px 90px;
  backgorund-color : #dff0d8;
  color : #468847;
  margin : 0px;
}

div.alert h2 {
  padding-top:5px;
  font-size: 17px;
}

div.alert ol {
  padding:0px 0px 0px 25px;
}

div#success {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  font-family: Courier New;
  background: #DFF0FD;
  padding-bottom: 10px;
  color: #5aa39d;
  font-weight: bold;
}

div#error {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  font-family: Courier New;
  background: #f2dede;
  padding-bottom: 10px;
  color:  #be4e60;
  font-weight: bold;
}

div.alert > span {
  position : relative;
  top : 5px;
  font-size: 14px;
  font-family: "MS Trebuchet",Arial;
  font-weight: bold;
  
}
/********** ALERT MESSAGE ****************/

