/* @Group Tabs */

.tabs {margin-top: 35px; float: left; border: #ddd solid 1px; border-right: none;}
.tabs > li {border-top: #ddd solid 1px;}
.tabs > li:first-child {border-top: none;}
.tabs > li.active {background-color: white;}
.tabs > li > a {display: block; font: normal bold 0.75em/33px arial; color: #444; padding: 0 1.25em 0 1.5em;}

/* @Group Assets Container */
.assetsContainer {float: left; border-left: #ddd solid 1px; padding: 35px 0 0 10px;}
#assetFormContainer {width: 400px; margin: auto;}
#uploadsContainer {width: 800px; margin: auto;}

/* Asset Details Table */
.tabular tbody > tr td, .tabular tbody > tr:hover td {border: #ddd solid 1px; border-left: none; border-right: none;}
.tabular td[class="qrCode"] img {width: 25%;}
.tabular td[class="reUpload"] > a {margin: 0 0 0 14px; width: 18px; height: 19px; text-indent: -9999px; background-image: url(/assets/reupload-sprite-18X38.png); background-repeat: no-repeat; background-position: 0 0;}
.tabular td[class="reUpload"] > a:hover {background-position: left -19px;}

/* @Group All Stickers */
.sticker {border: #ddd solid 11px; float: left; padding: 1em; }
.template.ui-resizable { position: relative;}
