/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require ui.theme.css
 *= require_self
*/


div.template {
 border : 1px solid red; 
 margin: 0px;
}
      
div.logo {
  border : 1px solid black;
  text-align: center;
}
       
div.qrcode {
 border : 1px solid black;
 text-align: center;
}
       
div.footer {
  border : 1px solid black;
  text-align: center;
}

div.notes {
  border : 1px solid black;
}

div.unit {
  border : 1px solid black;
}

div.serial_number {
  border : 1px solid black;
}

