/* @Group Base Styles */

* {margin: 0; padding: 0; box-sizing: border-box;}
html, body {height: 100%;}
html {font-size: 100%; line-height: 1; font-family: arial; color: #6b6a68; background-color: #f7f7f7;}
img, fieldset {border: none;}
img, object, embed, audio, video, iframe {display: block; max-width: 100%;}
iframe {clear: both;}
ul, ol {list-style: none;}
.clearfix:after {content: "."; display: block; height: 0; visibility: hidden; clear: both; float: none; font-size: 0;}
a[href], a {text-decoration: none;}
a[href]:hover, a:hover {text-decoration: underline;}

/* @Group Table */

table {border-collapse: collapse; border-spacing: 0; width: 100%;}
table th, table td {border: #ddd solid 1px; padding: 0.5em; vertical-align: top;}

/* @Group Form Elements */

input[type="text"], input[type="password"], input[type="email"], textarea {outline: none; width: 100%; padding: 0.375em;}

/* Center Elements with no WIDTH */

.outer {position: relative; left: 50%; float: left; clear: both;}
.inner {position: relative; left: -50%;}

/* @Group Header */

.header {height: 51px; background: url(/assets/header-repeat-x-1X51.png) repeat-x left top; padding: 0 2%;}
.header.print {display: none;}
.header > * {margin-top: 17px;}
.header .logo {width: 86px; height: 24px; float: left;}

#loginContainer, #resetContainer {width: 300px; margin: auto;} /* Login Page login container */
.loginNav {float: right;}
.loginNav li {float: left; margin-left: 10px;}
.loginNav li:first-child {float: left; margin-left: 0;}
.loginNav li:first-child a {border-left: none; padding-left: 0; font-weight: normal;}
.loginNav a {display: block; color: white; font: bold 0.6875em/14px arial; padding-left: 10px; border-left: white solid 1px;}
.loginNav a:hover {text-decoration: underline;}

/* @Group Primary Navigation */

.primaryNav {background: url(/assets/primary_nav-repeat-x-1X33.png) repeat-x left top; height: 33px; padding: 0 2%;}
.primaryNav li {float: left; margin-left: 22px;}
.primaryNav a {display: block; font: bold 0.6875em/33px arial; color: #2e2e2e; text-transform: capitalize;} /* 11px/33px */
.primaryNav li:first-child {margin-left: 0;}
.primaryNav a:hover, .primaryNav a.active {color: #8cb964;}

/* @Group Home Layout */

.homeWrapper {width: 690px; margin: auto;}
.homeWrapper > a {display: block; margin: auto; width: 131px;}

/* @Group Layout Level */

.wrap {min-height: 100%;}
.wrapper {padding: 2% 2% 40px 2%; margin-bottom: 40px;}
.footer {padding: 0 2%; position: relative; margin-top: -40px; height: 40px; clear:both; background-color: #eee; font: normal 0.6875em/40px arial; color: #999;}

/* @Group Buttons */

.button, .button span {float: left; background-image: url(/assets/button-brown-261X30.png); background-repeat: no-repeat;}
.button {text-decoration: none; font: bold 0.75em/30px arial; margin: 0 0 10px 10px;}
.button ~ .button {margin-left: 20px;}
.button span {text-shadow: 0 1px 1px #444; margin: 0 10px 0 -10px; padding: 0 8px 0 25px; color: white; }

/* Diffrent Positions for diffrent buttons */

/* Just Plain Brown Button */
.button {background-position: right top;}
.button span {background-position: left top;}

/* Add Button */
.button.add {background-position: right -50px;}
.button.add span {background-position: left -50px;}

/* Upload Button */
.button.upload {background-position: right -100px;}
.button.upload span {background-position: left -100px;}

/* Download Button */
.button.download {background-position: right -150px;}
.button.download span {background-position: left -150px;}

/* @Group Table */

.container {clear: both;}
.container > h2 {border: #cdcdcd solid 1px; text-shadow: 0 1px 1px #fff; border-bottom: none; border-radius: 6px 6px 0 0; font: bold 1em/40px arial; color: #444; text-align: center; background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);}
	#printContainer {width: 350px; margin: auto;}	

.tabular {border: #cdcdcd solid 1px;}
.tabular th, .tabular td {border: none; padding: 0.625em 1.3125em}
.tabular th {background-color: #efefef; padding: 0 1.3125em; text-align: left; border-bottom: #ccc solid 1px; font: normal 0.75em/29px arial; color: #444;}
.tabular td {background-color: #fff; font: normal 0.75em/1.125em arial; color: #2e2e2e; vertical-align: middle; /*border-top: transparent solid 1px; border-bottom: transparent solid 1px;*/}
.tabular td a[href] {display: block;}
.tabular td a[data-confirm] {width: 16px;}
.tabular tr:hover td {background-color: #f9f9f9; border: #ddd solid 1px; border-left: none; border-right: none;}

/* @Messages (Error, Info, Alert) */

.msgContainer.error {padding: 0.8em; background:#fbe3e4; color:#8a1f11; border-color:#fbc2c4;}
.msgContainer > strong {display: block; font: bold 0.90em/1em Helvetica,arial; margin-bottom: 0.4em;}
.emailError {font: normal 0.75em/1.5em Helvetica, arial;}
.errorList {margin-left: 1.25em; list-style: decimal;}
.errorList > li {font: normal 0.75em/1.5em Helvetica, arial;}
.error, .alert, .notice, .success, .info {font-size: 1em; padding: 0.4em; margin-bottom: 1em; border: 1px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324; font-size: 0.75em;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.instruction {padding:0.5em; background-color: #FAFBD2; border: #E8EAC0 solid 1px; color:#333; font: normal 0.75em/1em arial;}

/* @Group Form Elements */
fieldset {padding: 1em 0.8em;}
.formContainer {background-color: white; border-radius: 0 0 6px 6px;}
#resetContainer .formElements {margin-top: 20px;}
.formElements > li {margin-top: 18px;}
.formElements > li:first-child {margin-top: 0;}
.formElements label {display: block; font-size: 0.85em; margin-bottom: 0.4em;}
.formElements input[type="text"], .formElements input[type="password"], .formElements input[type="email"] {font-size: 0.75em; opacity: 0.4;}
.formElements input[type="text"]:focus, .formElements input[type="password"]:focus, .formElements input[type="email"]:focus {font-size: 0.75em; opacity: 1;}
.formElements label[for], .formElements label[for] ~ input[type="checkbox"] {float: left; margin: 0 5px 0 0; cursor: pointer;}
.formElements label[for] ~ input[type="checkbox"] {margin-top: 1px;}
.formElements input[type="submit"], .formElements input[type="button"], a[class="button"] {cursor: pointer; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); text-shadow: 0 1px 1px #fff; border: #c6c6c6 solid 1px; border-radius: 6px; font: bold 0.75em/28px arial; color: #444; padding: 0 0.75em; height: 30px; margin: 0 5px 0 0;}
a[class="button"]:hover {text-decoration: none;}
.formElements input[type="submit"] + a[href], .formElements input[type="button"] + a[href] {display: inline-block; font: normal 0.6875em/1.3em arial; color: #38abe6;}

	/* @Group Checkbox + Label */
	.formElements input[type="radio"] {margin: 3px 5px 3px 3px;}
	.formElements input[type="radio"] + label {margin-bottom: 0;}
	.formElements input[type="radio"], .formElements input[type="radio"] + label {float: left;}

	/* @Group Width & Height input types */
	.widthHandler .field_with_errors {display: inline-block; width: 49%;}
	.formElements input[placeholder="Width"],
	.formElements input[placeholder="Height"],
	.formElements input[placeholder="Logo Width"],
	.formElements input[placeholder="Logo Height"],
	.formElements input[placeholder="Qrcode Width"],
	.formElements input[placeholder="Qrcode Height"] {width: 180px; margin-bottom: 10px;}

	/* @Group Sticker Styles */
	.stickerStyler {margin: 1em 0;}
	.stickerStyler * {float: left;}
	.stickerStyler > input[type="text"] {width: 30%;}
	.stickerStyler > input[type="text"] ~ * {margin-left: 10px; margin-top: 6px;}
	.stickerStyler a[data-position] {width: 16px; height: 16px;}
	.stickerStyler .alignControls {width: 48px;}

.formElements .hiddenInput input[type="file"]{margin: 6px 0;}
.formElements .hidden {display: none;}


/* @Group Ugly Styles & will be removed soon */
.ovfl-hidden.box {margin-top: 15px;}
.ovfl-hidden.box:first-child {margin-top: 0;}
.formElements input[placeholder="Width"] + span, .formElements input[placeholder="Height"] + span, .formElements input[placeholder="Logo Width"] + span, .formElements input[placeholder="Logo Height"] + span, .formElements input[placeholder="Qrcode Width"] + span, .formElements input[placeholder="Qrcode Height"] + span {font-size: 0.65em; margin-left: 5px;}
.notes div, .unit div, .serial_number div {float: left; margin-left: 10px;}
.notes div:first-child, .unit div:first-child, .serial_number div:first-child {margin-left: 0;}
.notes .note_position, .unit .unit_position, .serial_number .serial_number_position {width: 55px;}
.notes .note_position a, .unit .unit_position a ,  .serial_number .serial_number_position a {float: left;}
.notes .note_position  a.active, .notes .note_position  a:hover { border:1px solid #878787 !important; border-radius:5px }
.unit .unit_position  a.active, .unit .unit_position  a:hover { border:1px solid #878787 !important; border-radius:5px }
.serial_number .serial_number_position a.active, .serial_number .serial_number_position  a:hover { border:1px solid #878787 !important; border-radius:5px }

/* @Group Form Containers */
.container > h2 + * {border: #cdcdcd solid 1px;}
/***************************************************************************************************/

/*body { font:normal 13px Arial, Helvetica, sans-serif; background-color: #f7f7f7; color:#6b6a68 }*/
a { color:#900a0b }
.link_rupload a.red { color:#F00 }
/*** MAIN WRAPPERS ***/
#wraper { width:100%; margin:0 auto; min-height:540px; overflow:hidden; position:relative; }
#rightcol { width:340px }
#toplinks { width:486px }
/*** WEBSITE LOGO ***/
#logo { width:196px; height:35px; margin:11px 0 0 27px }
#logo a, #logo a:hover { text-decoration:none; width:161px; height:34px; background:url(/assets/logo.png) 0 0 no-repeat; display:block }
/*** SEARCH BOX ***/
/*** EASY TOOLS ***/
/*** ACCOUNT HOLDER BAR ***/
/** MAIN NAV **/
/*** MAIN CONTENTS (section wise) ***/
#main_wrp { width:100% }
#maincontent_home { width:100%; overflow:hidden }
#maincontent { padding:0 0 0 22px; margin:22px 0 0 0 }
/*** CONTENT MODULES ***/
/*** POINTS NUMBER ***/
/*** CONTENT HEAD ***/
/***global buttons*****/
.d_button { background:url(/assets/button6.png) 0 0 no-repeat; float:left; margin-right:15px; text-align:center }
.d_button input { background:url(/assets/button6.png) 100% -36px no-repeat; margin-right:-15px; font:bold 12px Arial; color:#555; float:left; height:34px; cursor:pointer; border:none }
.d_button:hover { background:url(/assets/button.png) 0 -72px no-repeat; }
.d_button:hover input { background: url("/assets/button6.png") no-repeat scroll 100% -108px transparent; }
.d_button { background:url(/assets/button6.png) 0 0 no-repeat; float:left; margin-right:15px; text-align:center }
.d_button a { cursor:pointer; background:url(/assets/button6.png) 100% -36px no-repeat; margin-right:-15px; font:bold 12px/34px Arial; color:#555; float:left; height:34px; display:block }
.d_button:hover { background:url(/assets/button6.png) 0 -72px no-repeat; }
.d_button:hover a { background: url("/assets/button6.png") no-repeat scroll 100% -108px transparent; }
.a_button { background:url(/assets/big_bt_sprite.png) 3px -1px no-repeat; float:left; margin-right:11px; text-align:center }
.a_button input { background:url(/assets/big_bt_sprite.png) 100% -56px no-repeat; margin-right:-11px; font:bold 12px Arial; color:#555; float:left; height:53px; cursor:pointer; border:none }
.a_button:hover { background:url(/assets/big_bt_sprite.png) 0 -109px no-repeat; }
.a_button:hover input { background: url("/assets/big_bt_sprite.png") no-repeat 100% -164px transparent; }
.a_button_a { background:url(/assets/big_bt_sprite.png) 3px -1px no-repeat; float:left; margin-right:11px; text-align:center; display:block; height:53px }
.a_button_a:hover { background:url(/assets/big_bt_sprite.png) 0 -109px no-repeat; }
.a_button_a span { background:url(/assets/big_bt_sprite.png) 100% -56px no-repeat; margin-right:-11px; font:bold 12px Arial; color:#555; float:left; height:53px; cursor:pointer; border:none; line-height:53px; display:block }
.a_button_a:hover span { background: url("/assets/big_bt_sprite.png") no-repeat 100% -164px transparent }
.a_button_a { background:url(/assets/big_bt_sprite.png) 3px -1px no-repeat; float:left; margin-right:11px; text-align:center; display:block; height:53px }
.a_button_a:hover { background:url(/assets/big_bt_sprite.png) 0 -109px no-repeat; }
.a_button_a span { background:url(/assets/big_bt_sprite.png) 100% -56px no-repeat; margin-right:-11px; font:bold 12px Arial; color:#555; float:left; height:53px; cursor:pointer; border:none; line-height:53px; display:block }
.a_button_a:hover span { background: url("/assets/big_bt_sprite.png") no-repeat 100% -164px transparent }
/*** css for log in page ***/

.login { background:url(/assets/log_in_bg.png) 0 0 no-repeat; width:334px; height:264px; margin:0 auto; display:block; margin-top:94px }
.wrp { width:213px; margin:0 auto; padding:24px 57px 56px 57px; text-align:center }
.wrp .box { margin:0 0 15px 0 }
.wrp .bottom_space { padding-bottom:20px}
.wrp .box .text_input { background:url(/assets/text_input_bg_2.png) 0 0 repeat-x; width:199px; height:17px; padding:3px; border:1px solid #c6c6c6; font:normal 12px Arial; color:#444; border-radius:2px; font:normal 11px Arial; color:#222 }
.log_lbl1 { display:block; overflow:hidden; width:100%; text-align:left; margin:0 0 4px 0; text-transform:capitalize; font:normal 12px Arial; font:normal 12px Arial; color:#444 }
.log_lbl1 span { color:#900 }
label .check_btn { padding:0 20px 0 40px}

.link_frgt { color:#38abe6; line-height:20px; font:normal 11px Arial; display:block; padding:10px 0 0 0 }
.link_frgt:hover { text-decoration:none }
/*** css for thank you  page ***/
.home_sec { width:413px; margin:0 auto; display:block; padding:125px 0 323px 0; text-align:center; overflow:hidden }
.home_sec .text { font:bold 12px Arial; margin:0 0 38px 0; color:#444 }
.center_span { font:normal 11px Arial; margin:0 0 4px 0; display:block; overflow:hidden }
.wrp_btn { padding:0 0 0 160px }
/*** css for parts exchange price file ***/
.parts_excng { background:url(/assets/exng_part_bg.png) 0 0 no-repeat; width:470px; height:264px; margin:0 auto; display:block; margin-top:94px; margin-bottom:268px }
.part_tlt1 { width:100%; text-align:center; color:#444; font:bold 16px Arial; padding:13px 0 0 0; background:url(/assets/exng_part_tlt.png) 0 0 no-repeat; height:33px }
.wrp_exng { width:213px; margin:0 auto; padding:34px 28px 17px 32px }
.box_exng { display:block; padding:0 0 5px 0 }
.wrp_exchange { width:246px; margin:0 auto; padding:34px 0 0 0; overflow:hidden }
/*** css for upload successfully ***/
.upload_wrp { width:170px; margin:0 auto; text-align:center }
.upload_wrp .inn_div { width:180px; display:block; margin:0 auto; text-align:center }
#maincontent .upload_sucess { padding:33px 0 0 0; width:184px }
.lbl_u_b { font:bold 12px Arial; color:#444; margin:0 0 4px 0; display:block; width:100% }
.home_link { background:url(/assets/home.png) 0 0 no-repeat; width:18px; height:20px; display:block; cursor:pointer; position:absolute; right:10px; top:10px }
.btn_wrp3 { padding:0 0 0 60px }
.link_rupload { width:100% }
.link_rupload a { font:normal 11px Arial, Helvetica, sans-serif; color:#4d789f; margin:4px 0 0 0; text-align:left }
.link_rupload a:hover { text-decoration:underline }
.wrp_exportBtn { overflow:hidden; padding:0 0 15px 0}
.export { background:url(/assets/button.png) 0 0 no-repeat; float:left; margin-right:15px; text-align:center }
.export_blank { float:left; margin-right:15px; text-align:center; height:30px }
.export a { background: url("/assets/button.png") no-repeat scroll 100% -31px transparent; cursor:pointer; margin-right:-15px; font:bold 12px/30px Arial; color:#555; float:left; height:30px; display:block; color:#fff }
.export a .up_arrow { background:url(/assets/arrow_upper_side.png) 12px 9px no-repeat; display:block; width:10px; height:30px; padding:0 0 0 10px; margin:0 5px 0 0; line-height:30px}
.export a .down_arrow { background:url(/assets/arrow_down_side.png) 12px 9px no-repeat; display:block; width:10px; height:30px; padding:0 0 0 10px; margin:0 5px 0 0; line-height:30px}
.export a .left_arrow { background:url(/assets/arrow_left_side.png) 12px 9px no-repeat; display:block; width:10px; height:30px; padding:0 0 0 10px; margin:0 5px 0 0; line-height:30px}
.export a .right_arrow { background:url(/assets/arrow_right_side.png) 12px 9px no-repeat; display:block; width:10px; height:30px; padding:0 0 0 10px; margin:0 5px 0 0; line-height:30px}
.export a .noarrow { background:none; display:block; width:10px; height:30px; padding:0 0 0 10px; margin:0 5px 0 0; line-height:30px}
.export:hover { background:url(/assets/button.png) 0 -62px no-repeat; }
.export:hover a { background: url("/assets/button.png") no-repeat scroll 100% -93px transparent; }
/*** css for admin page***/
.admin_sec { width:514px; margin:0 auto; display:block; padding:125px 0 323px 0; text-align:center; overflow:hidden }
.admin_sec .btn_sec { padding:42px 0 0 0 }
.admin_sec .text_a { font:normal 12px Arial; color:#5c5c5c }
/*** Rounded Corners ***/
.left_border { border-left:1px solid #ddd; padding:0 0 0 20px}
.width_left_brd { width:570px}
.errorWrp{ width:470px}
.upload_asset { padding:10px 0}
.top1 { background:url(/assets/roundbox.png) 0 0 no-repeat; margin-right:15px }
.top1 h2 { background:url(/assets/roundbox.png) 100% -56px no-repeat; font:bold 14px Arial; height:45px; margin-right:-15px; line-height:44px; text-align:center; color:#444; text-shadow:1px 1px 0 #fff }
.end1 { background:url(/assets/roundbox.png) 0 -45px no-repeat; margin-right:15px }
.end1 div { background:url(/assets/roundbox.png) 100% -101px no-repeat; margin-right:-15px; height:11px }
.bg1 { background:url(/assets/bg1.jpg) 0 0 repeat-y; padding-left:3px }
.bg1 .bg2 { background:url(/assets/bg2.jpg) 100% 0 repeat-y; padding-right:3px }
.bg3 { background:#fff }
/*** Rounded Corners for plain white backgrond ***/
.top2 { background:url(/assets/roundbox_8.png) 0 0 no-repeat; margin-right:15px }
.top2 h2 { background:url(/assets/roundbox_8.png) 100% -56px no-repeat; height:46px; margin-right:-15px; line-height:46px; text-align:center; color:#444 }
.top2 h2 img { margin:5px 0 0 5px; vertical-align:middle }
.end1_1 { background:url(/assets/roundbox_8.png) 0 -45px no-repeat; margin-right:15px }
.end1_1 div { background:url(/assets/roundbox_8.png) 100% -101px no-repeat; margin-right:-15px; height:11px }
.bg1_1 { background:url(/assets/bg_1.png) 0 0 repeat-y; padding-left:3px }
.bg1_1 .bg2_2 { background:url(/assets/bg_2.png) 100% 0 repeat-y; padding-right:3px }
.bg3_3 { background:#fff }
/*** Rounded Corners for plain white backgrond ***/
.wrp_file_pblsh { padding:25px 0 0 0 }
.wrp_1 { width:100%; margin:0 auto; padding:0px; text-align:center }
.wrp_1 .box_1 .text_input { background:url(/assets/text_input_bg.png) 0 0 no-repeat; width:199px; height:17px; padding:3px; border:1px solid #c6c6c6; font:normal 12px Arial; color:#444; border-radius:2px; font:normal 11px Arial; color:#222 }
.tbl_top_tlt { width:100%; display:block }
.tbl_top_tlt tr { width:100% }
h3.tlt_top { display:block; padding:10px 0 0 21px; background:#efefef; height:19px; display:block; text-align:left; color:#000; font:bold 12px Arial; line-height:11px !important;  border:1px solid #ddd; border-width:0 0 1px 0 }
.tlt_top span { text-shadow:1px 1px 0 #fff ; float:left}
.tlt_top span.upload_nm { width:115px}
.tlt_top span.upload_on { width:74px; padding:0 20px 0 0}
.tlt_top span.upload_delet { width:50px; text-align:center}
.tlt_top span.upload_dropBox { width:225px; text-align:center}

/*** css for published_file_2 ***/
.wrp_list { display: block; height: 30px; overflow: hidden; width: 100%; border:1px solid #fff; border-width:1px 0 1px 0; padding:5px 0 }
.wrp_list:hover { background:#f9f9f9; border:1px solid #ddd; border-width:1px 0 1px 0}
.desc_file_2 { width:563px; padding:15px 0 0 0; overflow-y: scroll; height:262px; border-top:1px solid #ccc }
.desc_file_3 { widht:440px }
.listing_file li { float:left; display:block; overflow:hidden; text-align:left; padding:3px 0 }
.listing_file li.frist { width:128px; padding-left:20px }
.listing_file li.scnd { width:89px; text-align:left }
.listing_file li.user_nm { width:412px; padding-left:20px }
.listing_file li.dropboxTemp { width:215px; text-align:center}
.listing_file li.dropboxTemp .selectDropbox { width:160px; border:1px solid #ddd; padding:2px; font:normal 12px Arial; color:#a1a1a1}
.listing_file li.edit { width:30px; height:30px; text-decoration:none; text-align:center}
.listing_file li label.user_nm { font:normal 12px Arial; color:#000}
.listing_file  li.delete { width:30px; height:30px; text-decoration:none; text-align:right; padding-left:6px}
.listing_file li.thrd { padding-left: 6px; text-align: center; width:48px; }

.tlt_top span.create_user_nm { width:412px}
.tlt_top span.upload_edit { width:36px}
.listing_file li.frth { width:86px; padding:0 0 0 5px; text-align:center }
.listing_file li .link_f { color:#38abe6; font:normal 12px Arial; text-decoration:underline }
.listing_file li label { color:#454545; font:normal 11px Arial }
.text_Basket { width:226px; padding:4px; font:normal 12px Arial; color:#707173 }
.wrp_txt { width:100%; display:block; overflow:hidden; margin:0 0 20px 0; }
.msg_sec { width:360px; padding:10px 0 10px 30px; text-align:center }
.select_c { color:#444444; font:normal 12px Arial; width:152px; height:20px }
.wrp_wrp_pblsh { width:563px;}
.wrp_wrp_pblsh .rigth_fnm { width:570px}
.wrp_wrp_pblsh .rigth_fnm2 { width:464px}
.left_blank_sec { width:100%; display:block; height:35px; border-bottom:1px solid #DDD}
ul.left_tab li { float:block; width:160px; display:block; overflow:hidden; background:#f9f9f9; border-bottom:1px solid #ddd; border-width:1px 0 1px 0; 
}
ul.left_tab li.first { border-bottom:1px solid #DDD }
ul.left_tab li:hover, ul.left_tab li.active { background:url(/assets/arrow1.png) 4px 15px  no-repeat #fff }
ul.left_tab li a { color:#2e2e2e; font:normal 12px Arial, Helvetica, sans-serif; line-height:34px; width:147px; display:block; padding-left:18px; font-weight:bold; border-left:1px solid #ddd }
/*** css for report page ***/
.rprt_sec { width:100%; min-height:540px }
.inn_wrp_2 { padding:18px 38px 18px 38px }
.inn_wrp_2 .top_form_sec { padding:0 0 20px 0; overflow:hidden }
.styled-select { border-radius:2px; margin:0 10px 0 0 }
.styled-select select { background: transparent; width: 221px; padding: 5px; font:normal 12px Arial; border: 1px solid #ccc; height: 29px; border-radius:5px; color:#555 }
.flter_btn { background:#2b5377; border:none; width:56px; height:30px; display:block; border:none; border-radius:5px; color:#fff; font:normal 12px Arial; line-height:30px }
.right_btn { clear:both; overflow:hidden; display:block }
.tbl_sec { padding:20px 0 0 0; overflow:hidden }
.tbl_rpt_sec tr th { padding:0px 0 0 2px; text-align:left; color:#333; font:bold 12px Arial; background:#e9eef2; border:1px solid #C7D6E2; border-width:1px 0 1px 0; height:28px; line-height:28px }
.tbl_rpt_sec tr td { padding:5px }
.tbl_rpt_sec tr { border-bottom:1px solid #f7f7f7; background:#f7f7f7 }
.tbl_rpt_sec tr.active, .tbl_rpt_sec tr:hover { background:#fff }
/*css written by Vidya for  Download page*/
.wrp_wrp_pblsh .rigth_fnm_d { width:689px; border:1px solid #ccc; }
.desc_file_2_d { width:434px; padding:0px 0 0 21px; overflow-y: scroll; height:324px }
.wrp_4 { width:464px }
.listing_file li.frist_d { width:154px }
.listing_file li.scnd_d { width:127px }
.listing_file li.thrd_d { padding-left: 6px; text-align: center; width:207px; }
.listing_file li.frth_d { width:140px; padding:0 0 0 5px; text-align:center }
.listing_file li.fifth_d { width:200px; padding:0 0 0 5px; text-align:center }
.wrp_2 { width:464px; margin:0 auto; padding:0px; text-align:center }
.details { width:438px; margin:0 auto; padding:10px 0 ; text-align:center; overflow:hidden }
.error_details li { float:left; display:block; width:100%; margin:0 0 5px 0; overflow:hidden }
.error_details li label { color:#000 !important; width:169px; text-align:left; display:block; font:bold 12px Arial; color:#ccc; font:normal 12px Arial; width:128px }
.error_details li label.error_msg_l { width:309px }

.tlt_top span { text-shadow:1px 1px 0 #fff ; float:left}
.tlt_top span.failed_nm { width:156px; text-align:left}
.tlt_top span.failedUploaded { width:72px; text-align:center}
.tlt_top span.failedError { width:68px;text-align:center}
.tlt_top span.failedReuploaded{ width:81px;text-align:center}
.tlt_top span.failedDelete { width:40px;text-align:center}

.listing_file li.failedLink { width:143px; padding-left:20px }
.listing_file li.uploadedLink { width:70px; padding-left:20px }
.listing_file li.failedError { width:68px; text-align:center}
.listing_file li.failedError .error { color:#ff0000; font:normal 11px Arial}
.listing_file li.failedReupload { width:74px; text-align:center }
.listing_file li.failedReupload .linkReupload { width:18px; background:url(/assets/sprite_arrow_up_down.png) 0 0 no-repeat; height:19px; display:block; margin:0 auto}
.listing_file li.failedReupload .linkReupload.active,.listing_
file li.failedReupload .linkReupload:hover{background:url(/assets/sprite_arrow_up_down.png) 0 -29px no-repeat; }
.listing_file li.failedDelete { width:40px; text-align:center}


/***css for template page *****/
.templateWrp { overflow:hidden; padding:10px 0 0 0}
ul.templateGrid li { float:left; display:inline; overflow:hidden; width:161px; height:182px; margin:0 28px 28px 0 }
ul.templateGrid li .gridWrp { widht:161px; height:141px;padding:11px 0 0 0; display:block }

ul.templateGrid li  .innerGrid { cursor:pointer; width:137px; height:68px; display:block; border:1px solid #ddd; text-align:center; margin:0 auto; line-height:113px; padding:46px 0 0 0}
ul.templateGrid li  a.tab_wrp { widht:161px; height:128px;padding:11px 0 0 0; display:block; display:block; cursor:pointer; border:1px solid #ddd }

ul.templateGrid li  .innerGridBottom { width:100px; height:25px; text-align:center; margin:0 auto; padding:10px 0 0 45px}
ul.templateGrid li  .innerGridBottom  .edit { background:url(/assets/edit.png) 0 0 no-repeat; width:16px; height:30px; display:block; text-decoration:none; margin:0 13px 0 0 }
ul.templateGrid li  .innerGridBottom  .delete { background:url(/assets/delete_img.png) 0 0 no-repeat; width:30px; height:30px; display:block; text-decoration:none }
ul.templateGrid li  .boldTlt { font:bold 12px Arial; width:100%; text-align-last:center; color:#000; display:block; margin:0 0 5px 0 0}
ul.templateGrid li  .graySubtlt {font:normal 12px Arial; width:100%; text-align-last:center; color:#ddd; display:block}

/***css for asset deatail fail page*****/
.btn_wrp4 {background:#f9f9f9; padding:10px 0px 0px 120px; border:1px solid #ddd; border-width:1px 0 0 0}
.btn_wrptemplate {background:#f9f9f9; padding:10px 0px 0px 120px; border:1px solid #ddd; border-width:1px 0 0 0}

.top5 { background:url(/assets/roundbox2.png) 0 0 no-repeat; margin-right:15px }
.top5 h2 { background:url(/assets/roundbox.png) 100% -56px no-repeat; font:bold 14px Arial; height:45px; margin-right:-15px; line-height:44px; text-align:center; color:#444; text-shadow:1px 1px 0 #fff }
.end5 { background:url(/assets/roundbox2.png) 0 -45px no-repeat; margin-right:15px }
.end5 div { background:url(/assets/roundbox2.png) 100% -101px no-repeat; margin-right:-15px; height:11px }
.bg5 { background:url(/assets/bg1.jpg) 0 0 repeat-y; padding-left:3px }
.bg5 .bg2 { background:url(/assets/bg2.jpg) 100% 0 repeat-y; padding-right:3px }
.bg5 { background:#fff }

.bg5_5 { background:url(/assets/bg_1.png) 0 0 repeat-y; padding-left:3px }
.bg5_5 .bg5_5 { background:url(/assets/bg_2.png) 100% 0 repeat-y; padding-right:3px }


.black_btn { background:url(/assets/button.png) 0 0 no-repeat; float:left; margin-right:15px; text-align:center }
.blackbtn_blank { float:left; margin-right:15px; text-align:center; height:30px }
.black_btn a { background: url("/assets/button.png") no-repeat scroll 100% -31px transparent; cursor:pointer; margin-right:-15px; font:bold 12px/30px Arial; color:#555; float:left; height:30px; display:block; color:#fff; padding-left:15px }
.midBlanksec { width:10px; height:35px; display:block}

.wrp_create_user { width:213px; margin:0 auto; padding:24px 57px 0px 57px; text-align:center }
.wrp_create_user .box { margin:0 0 15px 0 }
.wrp_create_user .bottom_space { padding-bottom:20px}
.wrp_create_user .box .text_input { background:url(/assets/text_input_bg_2.png) 0 0 repeat-x; width:199px; height:17px; padding:3px; border:1px solid #c6c6c6; font:normal 12px Arial; color:#222;}

.top1Asset { background:url(/assets/roundboxOnethousandPx.png) 0 0 no-repeat;margin-right:15px }
.top1Asset h2 { background:url(/assets/roundboxOnethousandPx.png) 100% -56px no-repeat; font:bold 14px Arial; height:45px; margin-right:-15px; line-height:44px; text-align:center; color:#444; text-shadow:1px 1px 0 #fff }

.endAsset { background:url(/assets/roundboxOnethousandPx.png) 0 -45px no-repeat; margin-right:15px }
.endAsset div { background:url(/assets/roundboxOnethousandPx.png) 100% -101px no-repeat; margin-right:-15px; height:11px }
.bgAsset { background:url(/assets/bg1.jpg) 0 0 repeat-y; padding-left:3px }
.bgAsset .bgAsset2 { background:url(/assets/bg2.jpg) 100% 0 repeat-y; padding-right:3px }
.bg3Asset { background:#fff }

.Assettop1 { background:url(/assets/roundboxOnethousandPx.png) 0 0 no-repeat; margin-right:15px }
.Assettop1 h2 { background:url(/assets/roundbox.png) 100% -56px no-repeat; font:bold 14px Arial; height:45px; margin-right:-15px; line-height:44px; text-align:center; color:#444; text-shadow:1px 1px 0 #fff }

.end1Asset { background:url(/assets/roundboxOnethousandPx.png) 0 -45px no-repeat; margin-right:15px }
.end1Asset div { background:url(/assets/roundboxOnethousandPx.png) 100% -101px no-repeat; margin-right:-15px; height:11px }

.Assetleftbrd { width:922px;}

/****css for create user rounded box****/
.top1Create { background:url(/assets/roundboxOnethousandPx.png) 0 0 no-repeat; margin-right:15px }
.top1Create h2 { background:url(/assets/roundboxOnethousandPx.png) 100% -56px no-repeat; font:bold 14px Arial; height:45px; margin-right:-15px; line-height:44px; text-align:center; color:#444; text-shadow:1px 1px 0 #fff }

.endCreate { background:url(/assets/roundboxOnethousandPx.png) 0 -45px no-repeat; margin-right:15px }
.endCreate div { background:url(/assets/roundboxOnethousandPx.png) 100% -101px no-repeat; margin-right:-15px; height:11px }
.bgCreate { background:url(/assets/bg1.jpg) 0 0 repeat-y; padding-left:3px }
.bgCreate .bgAsset2 { background:url(/assets/bg2.jpg) 100% 0 repeat-y; padding-right:3px }
.bg3Create { background:#fff }

.Createtop1 { background:url(/assets/roundboxOnethousandPx.png) 0 0 no-repeat; margin-right:15px }
.Createtop1 h2 { background:url(/assets/roundbox.png) 100% -56px no-repeat; font:bold 14px Arial; height:45px; margin-right:-15px; line-height:44px; text-align:center; color:#444; text-shadow:1px 1px 0 #fff }

.end1Create { background:url(/assets/roundbox_create_user.png) 0 -45px no-repeat; margin-right:15px }
.end1Create div { background:url(/assets/roundbox_create_user.png) 100% -101px no-repeat; margin-right:-15px; height:11px }
.end1Create div { background:url(/assets/roundbox_create_user.png) 100% -101px no-repeat; margin-right:-15px; height:11px }

.Create { width:922px}

/****css for asset details fails****/

.wrpAssetDtl { /*height: 333px;*/ width:100%}
.wrpAssetDtl .faiedetails { width:100%}
.wrpAssetDtl .rigth_fnm2 { width:464px; border:1px solid #ccc; }
.descfileFaied { padding:15px 0 0 0; overflow-y: scroll;  border-top:1px solid #ccc; height:500px;}
.tlt_top span { text-shadow:1px 1px 0 #fff ; float:left}
.tlt_top span.unitNo { width:116px; text-align:center}
.tlt_top span.vin { width:128px; text-align:center}
.tlt_top span.serialNo { width:121px; text-align:center}
.tlt_top span.mobileNo { width:117px; text-align:center}
.tlt_top span.makeNo { width:110px; text-align:center}
.tlt_top span.qrCode { width:80px; text-align:center}
.tlt_top span.stickertmp { width:160px; text-align:center}


.listing_file4 li { float:left; display:block; overflow:hidden; text-align:left; padding:3px 0 }
.listing_file4 li.first_blank { width:24px}
.listing_file4 li.unitNoLi { width:116px; text-align:center}
.listing_file4 li.vinLi { width:128px; text-align:center}
.listing_file4 li.serialNoLi { width:121px; text-align:center}
.listing_file4 li.mobileNoLi { width:117px; text-align:center}
.listing_file4 li.makeNoLi { width:110px; text-align:center}
.listing_file4 li.qrCodeLi { width:80px; text-align:center}
.listing_file4 li.stickertmpLi { width:160px; text-align:center}
.listing_file4 li .qrCodeLink { width:60px; height:52px; display:block; margin-left:14px}
.listing_file4 li.qrCodeLi img { height:50px; width: 50px;}
.listing_file4 li .link_f { color:#38abe6; font:normal 12px Arial; text-decoration:underline }
.wrp_listAsset { display: block; height:60px; overflow: hidden; width: 100%; border:1px solid #fff; border-width:1px 0 1px 0 }
.wrp_listAsset:hover { background:#f9f9f9; border:1px solid #ddd; border-width:1px 0 1px 0}

/****css for  template option***/
.btn_wrp5 {background:#f9f9f9; padding:10px 0px 0px 102px; border:1px solid #ddd; border-width:1px 0 0 0}
.csm1 {color:#222; font:normal 12px Arial; height:40px; padding:5px 5px 0 5px; line-height:40px; overflow:hidden}
.wrp_template { width:275px; margin:0 auto; padding:30px 0 30px 0}
.wrp_template .box { margin:0 0 8px 0}
.wrp_template .boxNospace { margin:0 0 8px 0}
.wrp_template .bottom_space { padding-bottom:20px}
.wrp_template .box .text_input { background:url(/assets/text_input_bg_2.png) 0 0 repeat-x; width:199px; height:17px; padding:3px; border:1px solid #c6c6c6; font:normal 12px Arial; color:#cecaca}
.wrp_template .box .tmplateLbl1 { color:#2e2e2e; font:bold 12px Arial; width:100%; display:block; margin:0 0 5px 0; width:50%}
.DisplayNone { display:block}
.marginNone { margin-bottom:5px!important}
.wrp_template .box .txtBox  { background:url(/assets/text_input_bg_2.png) 0 0 repeat-x; width:199px; height:17px; padding:3px; border:1px solid #c6c6c6; font:normal 12px Arial; color:#222}
.wrp_template .box .widthSmall { width:81px; padding:2px}
.wrp_template .box .widthBig { width:244px; padding:2px}
.wrp_template .box .wrpMeausrment { width:87px}
.wrp_template .box .lblMeasurment { color:#000; font:normal 11px Arial; width:100%; display:block}
.wrp_template .box .smalltxtbox { width:78px }
.wrp_template .box .wrpMeausrment .lblMeasurment .smallLbl { color:#ddd; font:normal 1px Arial}
.wrp_template .box .rightCheckBox { color:#F00; font:bold 12px Arial}
.wrp_template  .checkBox { margin:0 0 0 5px}
.wrp_template .box .paraFile { padding:0; font:normal 11px Arial}
.wrpSubContent { width:80px; margin:0 5px 0 0}

ul.checkBoxlist li { float:left; display:inline; overflow:hidden; width:100%; margin:0 0 5px 0}
ul.checkBoxlist li.DisplayNoneLi { display:block}
ul.checkBoxlist li .checkBox2 { margin:0 5px 0 0 }
ul.checkBoxlist li .lblCheckBox { color:#000; font:bold 12px Arial; margin:0 5px 0 0}
ul.checkBoxlist li .span1 { color:#a1a1a1; font:normal 11px Arial}
/*.notes { color:#000; font:normal 11px Arial}*/
.wrp_template .box { margin:0 0 8px 0; width:100%; display:block}
.wrp_template .box  { margin:0 0 8px 0; width:100%; display:block}
.wrp_template .styled-select2 { border-radius:2px}
.wrp_template  .styled-select select {background: #cecece;font-size: 11px;border: 1px solid #ccc; width:49px; height:20px; padding:0} 
.wrp_template  .styled-select2 select.Big  {background: #cecece;font-size: 11px;border: 1px solid #ccc; width:95px;  border-radius:5px; width:105px; height:20px}

h3.tltError{ display:block; padding:10px 0 0 13px; background:#efefef; height:19px; display:block; text-align:left; color:#000; font:bold 12px Arial; line-height:11px !important; border:1px solid #ddd; border-width:0 0 1px 0 }
h3.tltError .rowNo { width:141px}
h3.tltError .errorMsg { width:161px; text-align:center}
.wrp_template .alignSec { overflow:hidden}
.wrp_template a.textAlight { display:block; width:26px; height:22px; margin:0 0 0 5px; border:1px solid #fff!important; text-align:center; padding-top:3px}
.wrp_template a.active, .wrp_template a:hover { border:1px solid #878787 !important; border-radius:5px }
.box .fontSize { background:#cecece; font:normal 11px Arial; border-radius:5px; border:1px solid #cecece; width:54px; padding:2px}
.box .spaceRight { margin:0 5px 0 0 }  
  

/*css for sticker page*/
.blankSpace { width:12px; height:40px; display:block}
.export a .pdf { background:url(/assets/sprite_print_pdf.png) 4px 6px no-repeat; display:block; width:10px; height:30px; padding:0 0 0 10px; margin:0 5px 0 5px; line-height:30px}
.export a .print { background:url(/assets/sprite_print_pdf.png) 4px -56px no-repeat; display:block; width:10px; height:30px; padding:0 0 0 10px; margin:0 5px 0 5px; line-height:30px}

.stickerWrp {overflow:hidden; padding:10px 34px 0 0}
ul.stickerListing li { float:left; overflow:hidden; display:inline; width:331px; height:176px; border:10px solid #ddd; color:#ddd; margin:0 26px 25px 0; background:#fff}
ul.stickerListing li .wrpStickerCode { padding:18px 20px 18px 20px; overflow:hidden}
ul.stickerListing li .wrpStickerCode  .sickerImg1{ width:131px; display:block; height:129px; margin:0 0 5px 0; }
ul.stickerListing li .wrpStickerCode  .sickerImg1 .imgSticker1 {width:116px; height:112px; display:block; margin: 0 0 5px 0}
ul.stickerListing li .wrpStickerCode  .sickerImg1 .imgSticker { width:116px; height:112px; display:block; margin: 0 0 5px 0}
ul.stickerListing li .wrpStickerCode  .stickerTxt { color:#505050; font:bold 12px Arial}
ul.stickerListing li .wrpStickerCode  .sickerImg2{ width:118px; display:block; height:129px; margin:0 0 5px 0; }

/*** welcome page***/
.mainWelcm { background:url(/assets/twoShadowBox.png) 0 0 no-repeat #dfe2da; padding:45px 61px 0 70px; height:350px; display:block}
.mainWelcm .oneUpload { width:159px} 
.mainWelcm .twoDesign { width:207px; padding-right:3px}
.mainWelcm .threeDownload{ width:176px}


/*css for sticker table section*/
.stickerTable tr td {  margin:0 2px 2px 0; margin:0 5px 0 5px }
.wrpStickerCode  .sickerImg1{  display:block;margin:0 0 5px 0; }
.borderSolid { border:10px solid #ddd; padding:5px; margin:0 20px 20px 0; background:#fff}
.stickerTable .stickerTxt { color:#505050; font:bold 12px Arial}


/*css for save template*/
.savetemplate { width:auto; min-width:471px; width:auto}
.Tmplatetop1 h2.smallTxt { background:url(/assets/roundbox.png) 100% -56px no-repeat; font:normal 11px Arial; height:45px; margin-right:-15px; line-height:44px; color:#2e2e2e; text-shadow:1px 1px 0 #fff }
.savetemplate .crossred { background:url(/assets/crossRed.png) 0 0 no-repeat; position:absolute; right:10px; top:17px; height:12px; width:12px; display:block; cursor:pointer}
.txtleft { text-align:left; display:block; padding:15px 0 0 20px; font:normal 12px Arial}
.wrpTemplate { margin:0 auto; padding:0px; padding:5px; width:auto; min-width:471px; overflow:scroll ; height:auto; min-height:400px}

.Tmplatetop1 { background:url(/assets/roundboxOnethousandPx.png) 0 0 no-repeat; margin-right:15px }
.Tmplatetop1 h2 { background:url(/assets/roundbox.png) 100% -56px no-repeat; font:bold 14px Arial; height:45px; margin-right:-15px; line-height:44px; text-align:center; color:#444; text-shadow:1px 1px 0 #fff }
.Assetleftbrd { height: auto; min-width: 440px;width: auto;}
.templatetop1 { background:url(/assets/roundbax_2000px.png) 0 0 no-repeat; margin-right:15px }
.templatetop1 h2 { background:url(/assets/roundbox.png) 100% -56px no-repeat; font:bold 14px Arial; height:45px; margin-right:-15px; line-height:44px; text-align:center; color:#444; text-shadow:1px 1px 0 #fff }

.end1Template { background:url(/assets/roundbax_2000px.png) 0 -45px no-repeat; margin-right:15px }
.end1Template div { background:url(/assets/roundbax_2000px.png) 100% -101px no-repeat; margin-right:-15px; height:11px }
.blankDiv { width:40px; height:40px; display:block}
/***css for print sticker button****/
.export a .arrowRemove { display:block; width:3px; height:30px; padding:0 0 0 10px; margin:0 5px 0 0; line-height:30px}
.wrp_exportBtn .CustomSpace { width:16px; height:60px; display:block}


/**css for sticker options**/
.wrp_template .box .lblText { color:#363636; font:bold 12px Arial}
.wrp_template .box .lblInput { overflow:hidden; padding:0 10px 0 0}
.download_wrp {background:#f9f9f9; padding:19px 0px 0px 90px; border:1px solid #ddd; border-width:1px 0 0 0}
.wrp_template { width:275px; margin:0 auto; padding:30px 0 30px 0}
.wrpOption { width:176px; margin:0 auto}
.wrp_template .lastOption { margin-bottom:0px !important}