/*body {font: 12pt Georgia, "Times New Roman", Times, serif; line-height: 1.3;}*/
* {float: none !important;}
.header.print {display: block;}
.header {border-bottom: 3pt solid black; padding: 10pt; margin-bottom: 20pt;}
.header .logo {display: block; width: 86px; height: 24px;}
.header .logo img {display: block;}

.footer {clear: both; border-top: 3pt solid black; padding: 10pt;}


.sticker {float: none; width: 100%; }
/*.sticker #container {border: 1px solid #000;}*/

/* @Group Body Specific Styles */
.pb_after {page-break-after: always !important;}
.template.ui-resizable { position: relative;}
