/* @Group Templates List */

.templateList {clear: both;}
.templateList > li {float: left; position: relative; margin-right: 28px; background-color: white; border: #ddd solid 1px; width: 160px; height: 133px;}
.templateList > li * {display: block; font-weight: bold; text-align: center;}
.templateList > li > a {background-color: #f9f9f9; font-size: 0.75em; border: #ddd solid 1px; padding-top: 48px; margin: 0.5625em; color: #444; height: 118px; line-height: 18px;}
.templateList > li > a:hover {text-decoration: none;}
.templateList > li > a span {height: auto; font-size: 1em; line-height: 12px; color: #ddd;}

/* @Group Template Actions */

.templateActions {width: 38px; position: absolute; left: 37%; bottom: -32px;}
.templateActions a {float: left; width: 16px; height: 16px; margin-left: 6px; text-indent: -9999px; background-image: url('/assets/actions-16X31.png'); background-repeat: no-repeat;}
.templateActions a:first-child {margin-left: 0;}
.templateActions .edit {background-position: 0 0;}
.templateActions .delete {background-position: 0 -16px;}

#templateFormContainer {margin: auto; width: 400px;}

/* @Group Template Creation */
fieldset > legend {display: block; font-family: Avenir, arial; margin: 1em 0 0 0; background-color: #f1f1f1; padding: 5px; width: 100%;}
fieldset > legend * {float: left; color: white;}
fieldset > legend > strong {float: left; width: 30px; margin-right: 5px; height: 30px; text-align: center; line-height: 30px; background-color: #777; border-radius: 100%;}
fieldset > legend > h3 {font: normal 1.1em/30px Avenir, arial; color: #666;}


#simplemodal-container a.modalCloseImg {
	background:url(/assets/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}