<div class="header clearfix">
    <a class="logo" href="/welcome" title="GENQR"><img src="/assets/logo.png" alt="GENQR"></a>
    <ul class="loginNav clearfix">
        <li><%= link_to current_user.name ,edit_user_path(current_user) %></li>
        <li><%= link_to 'Logout',logout_path ,:class =>"fl link1"%></li>
    </ul><!--loginNav-->
</div><!--header-->

<ul class="primaryNav clearfix">
    <li><%= link_to 'Home'.upcase,home_path ,:class => "f1 #{current_css_classes('home')}" %></li>
    <li>
        <% if current_user.admin? %>
        <%= link_to 'User'.upcase,users_path ,:class => "f1 #{current_css_classes('user')}" %>
        <%else%>
        <%= link_to 'User'.upcase,edit_user_path(current_user) ,:class => "f1 #{current_css_classes('user')}" %>
        <%end%>
    </li>
    <li><%= link_to 'Asset'.upcase,assets_path ,:class => "f1 #{current_css_classes('asset')}" %></li>
    <li><%= link_to 'Template'.upcase,sticker_templates_path ,:class => "f1 #{current_css_classes('template')}" %></li>
</ul><!--primaryNav-->