

 <style type="text/css">
  .template.ui-resizable { position: relative;}
</style>


<a class="button download" href="<%= download_sticker_asset_path(@product.asset,:product_id => @product.id) %>"><span>Download</span></a>
<iframe src="<%= request.scheme %>://<%= SERVER_DOMAIN %><%= sticker_path(@sticker,:product_id => @product.id,:layout => false) %>" width="<%= @sticker.sticker_template.width + 10 %>" height="<%= @sticker.sticker_template.height + 10 %>" frameBorder="0" scrolling="no"> </iframe>


