<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GenQR</title>
        <%= stylesheet_link_tag "application", :media => "screen" %>
        <%= javascript_include_tag "application" %>
        <% if controller.controller_name == "sticker_templates" and controller.action_name == "index" %>
        <%= javascript_include_tag "sticker_templates" %>
        <%end%> 
        <%= csrf_meta_tags %>
        <%= yield :head %>
        <script src="https://raw.github.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js"></script>
    </head>
    <body>
        <div class="wrap"> 
            <%= render 'header' %>
            <%if controller.action_name == "all_sticker" || (controller.controller_name == "products" && controller.action_name = "show") %>
            <%= render 'download' %>
            <%end%>
            <div class="wrapper clearfix">
                <%= yield %>
            </div><!--wrapper-->
        </div><!--wrap-->
        <div class="footer">GENQR &copy; 2012</div>
    </body>
</html>