<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> </title> 
    <%= stylesheet_link_tag "basic", :media => "all" %>   
    <%= javascript_include_tag "basic" unless params[:view_only].present? %>
    <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>