<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> </title> 
    <%= yield :head %>
    <%= csrf_meta_tags %>
</head>
<body class="<%= sticker_css_class %>">
  <%= yield %>
</body>
</html>


